@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans&family=Odibee+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #f3f3f1;
}

form
{
    display: flex;
    flex-direction: column;
    width: 461.333px;
    gap: 10px;
    margin-top: 5rem;
}

.material-symbols-outlined
{
    color: #78BAFD;
}


/* input task  */

.i-task
{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}

.add-btn
{
    padding: 6px;
    font-size: 14px;
    background: none;
    border: 1px solid #000;
}


/* display task  */

.todo-listContainer
{
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
}

.todoContainer
{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 14px 20px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fff;
}

.rm-task
{
    font-size: 20px;
}

.task
{
    width: 100%;
    padding-right: 2rem;
}